.custom-navbar{
    background-color: #f2f2f2;
    height: 70px;
}

.icon-large {
    font-size: 1.2rem; /* Dimensione dell'icona ridotta */
    width: 1.2em; /* Imposta una larghezza per l'icona */
    height: 1.2em; /* Imposta un'altezza per l'icona */
}

.modal-custom-title{
    font-size: 30px;
    font-weight: 700;
}

.form-icons{
    font-size: 1.2rem;
}

